#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.doors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: stretch;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.buttons button {
    color: #fff;
    font-size: 1.3em;
    border: none;
    padding: 15px 30px;
    border-radius: 15px;
    cursor: pointer;
    margin: 5px;
}

.buttons button:hover {
    filter: brightness(90%);
    transition: .5s ease;
}

.restart {
    background-color: chocolate;
}

.backToLobby {
    background-color: #c0392c;
}